<div class="centered-content h-100 d-flex justify-content-center align-items-center">
    <div class="content d-flex">
        <div class="sidebar d-flex py-4 px-4">
            <div class="title">Lists</div>
            <div class="list-items d-flex mt-3">
                <a href="#" class="list-item align-items-center is-active">
                    <p class="m-0">Task 01</p>
                </a>
                <a href="#" class="list-item align-items-center ">
                    <p class="m-0">Task 01</p>
                </a>
                <a href="#" class="list-item align-items-center">
                    <p class="m-0">Task 01</p>
                </a>
            </div>
            <button class="btn btn-new text-white">+ New List</button>
        </div>

        <div class="list-tasks py-4 px-4">
            <div class="title">Tasks</div>

            <div class="task">
                <p class="m-0">This is do some thing</p>
            </div>
            <div class="task is-done">
                <p class="m-0">This is do some thing</p>
            </div>
            <div class="task">
                <p class="m-0">This is do some thing</p>
            </div>
        </div>
    </div>
</div>