/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif !important;
    letter-spacing: -0.5px;
}

html,
body {
    height: 100%;
}

a {
    color: black !important;
}

a:hover {
    text-decoration: none !important;
}

.bg-center {
    background-size: cover !important;
    background-position: center !important;
}

.size-10 {
    font-size: 10px !important;
}

.size-12 {
    font-size: 12px !important;
}

.size-16 {
    font-size: 16px !important;
}

.size-20 {
    font-size: 20px !important;
}

.size-25 {
    font-size: 25px !important;
}

.size-30 {
    font-size: 30px !important;
}

.size-35 {
    font-size: 35px !important;
}

.size-40 {
    font-size: 40px !important;
}

.size-45 {
    font-size: 45px !important;
}


/* color */

.text-black {
    color: black;
}


/* task manager */

.centered-content {
    background-color: aqua;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    min-height: 220px;
    border-radius: 8px;
}

.title {
    color: #33AD93;
    font-size: 30px;
}

.bg-btn {
    background-color: #1CC2A1 !important;
    border: none !important;
    color: #fff !important;
}

.bg-btn:hover {
    box-shadow: 0 0 10px !important;
}


/*
.btn {
    transition: transform 0.15s ease !important;
}

.btn:hover {
    transform: scale(1.02);
} */
